/* nav btn */
.btn{
    background-color: #E76F51;
}
.btn:hover{
    background-color: #E76F51;
}
/* slider btn */
.btn-bg{
    background-color: #00000094;
}
/* happy clients section title */
.section-title{
    color: #E76F51;
}