/* nav btn */
.btn{
    background-color: #E76F51;
}
.btn:hover{
    background-color: #E76F51;
}
/* slider btn */
.btn-bg{
    background-color: #00000094;
}
/* happy clients section title */
.section-title{
    color: #E76F51;
}
/* footer */
.footer{
    background-color: #15112e;
}
.footer-menu{
    list-style: none;
    gap:20px;
}
.copyright-symbol{
    margin-left:1.9rem;
}